body {
    background-color: #031403;
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 400px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.input{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 312px;
    height: 144px;
}

#labeltxt {
    font-size: 40px;
    font-weight: bold;
    width: 312px;
    color: #E9ff92;
    text-shadow: 0px 0px 10px rgba(233, 255, 146, 0.5);
    
}

#txtbox {
    margin-top: 30px;
    width: 312px;
    height: 25px;
    border-radius: 5px;
    border: solid 2px #E9ff92;
    background: transparent;
    color: #E9ff92;
    padding-left: 5px;
}

#mybtn {
    margin-top: 10px;
    width: 319.2px;
    height: 30.2px;
    border-radius: 5px;
    border: solid 2px black;
    background-color: #E9ff92;
    font-family:'Open Sans', sans-serif;;
    font-size: 15px;
    line-height: 25px;
    font-weight: bold;
    cursor: pointer;
}

